<div class="container">
  <h1>Enter your information...</h1>
  <button routerLink="home">Back to Home</button>
</div>
<br />
<!-- #newRestoForm is a variable -->
<div class="container">
  <div class="row half-width">
    <form (ngSubmit)="processForm(signUpForm)" #signUpForm="ngForm">
      <div class="form-group">
        <label for="fullname">Full Name:</label>
        <input
          class="form-control"
          [(ngModel)]="user.fullname"
          type="text"
          id="fullname"
          name="fullname"
          [placeholder]="placeholders.fullname"
          #fullname="ngModel"
          required
        />
      </div>

      <br />

      <div class="form-group">
        <label for="email">Email:</label>
        <input
          class="form-control"
          type="text"
          id="email"
          name="email"
          [(ngModel)]="user.email"
          [placeholder]="placeholders.email"
          #email="ngModel"
          required
        />
      </div>

      <br />

      <div class="form-group">
        <label for="username">Username:</label>
        <input
          class="form-control"
          type="text"
          id="username"
          name="username"
          [(ngModel)]="user.username"
          [placeholder]="placeholders.username"
          #username="ngModel"
          required
        />
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input
          class="form-control"
          type="password"
          id="password"
          name="password"
          [(ngModel)]="user.password"
          [placeholder]="placeholders.password"
          #password="ngModel"
          required
        />
      </div>

      <div class="form-group">
        <label for="password">Confirm Password:</label>
        <input
          class="form-control"
          type="password"
          id="password"
          name="password"
          [(ngModel)]="user.password"
          [placeholder]="placeholders.password"
          #password="ngModel"
          required
        />
      </div>

      <div class="form-group">
        <label for="age">Age:</label>
        <input
          class="form-control"
          type="number"
          id="age"
          name="age"
          [(ngModel)]="user.age"
          [placeholder]="placeholders.age"
          #age="ngModel"
          required
        />
      </div>

      <div class="form-group">
        <div *ngIf="displayFormSubmitError" style="color: red">
          <br />
          There's something wrong with your form
        </div>

        <br />

        <input type="submit" value="Create" class="btn btn-success" />
      </div>
    </form>
  </div>
</div>

<!-- #newRestoForm is a variable -->
<!-- <div class="container">
  <div class="row half-width">
    <form (ngSubmit)="processForm(newRestoForm)" #newRestoForm="ngForm">

    <form action="">
      <div class="form-group">
        <label for="fullname">Full Name:</label>
        <input />
      </div>

      <br />

      <div class="form-group">
        <label for="email">Email:</label>
        <input />
      </div>

      <br />

      <div class="form-group">
        <label for="username">Username:</label>
        <input />
      </div>
      <br />

      <div class="form-group">
        <label for="password">Password:</label>
        <input />
      </div>
      <br />

      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input />
      </div>
      <br />

      <div class="form-group">
        <label for="age">Age:</label>
        <input />
      </div>
      <br />

      <div class="form-group">
        <div *ngIf="displayFormSubmitError" style="color: red">
          <br />
          Kindly fillout all required fields.
        </div>

        <br />

        <input type="submit" value="Create" class="btn btn-success" />
      </div>
    </form>
  </div>
</div> -->
