<button
  type="button"
  class="btn btn-danger"
  (click)="start()"
  *ngIf="!started">Start Game</button>

<div id="problems"></div>
<div id="style">
  <div class="container">
    <h2 class="prob">Problem</h2>
  </div>
</div>
<h2 id="post">Score: {{score}}  Lives:{{lives}}</h2>
<br />
<div id="post">{{toSolve}}</div>
<input id="answer" type="text" />
<button type="submit" *ngIf="started && !ended" class="btn btn-primary" (click)="checkAnswer()">Submit</button>
<button *ngIf="ended" class="btn btn-primary" routerLink="/top-five">Leaderboard</button>
<div *ngIf="ended" id="endmsg">Game Over!</div>
