#style{
    position:absolute;
    top: 30%;
    right:26%;
   width: 700px;
   
}
#leaders{
    position:absolute;
    top: 15%;
    right:38%;
    color:white;
    animation: blinker 2s linear infinite;
}
@keyframes blinker{
    50%{
        opacity:0;
    }
}