#style{
    position:absolute;
    top: 30%;
    right:43%;
}
#style2{
    position:absolute;
    top: 12%;
    right: 17%;
    animation: blinker 2s linear infinite;
}
@keyframes blinker{
    50%{
        opacity:0;
    }
}
#buttons{
    position:absolute;
    top: 24%;
    right:42%;
}